<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Sberbank test case job</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>touch artifact.zip</command>
    </hudson.tasks.Shell>
    <sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.10">
      <nexusVersion>nexus3</nexusVersion>
      <protocol>http</protocol>
      <nexusUrl>172.18.0.1:8081</nexusUrl>
      <groupId>1</groupId>
      <version>1.0</version>
      <repository>test</repository>
      <artifacts>
        <sp.sd.nexusartifactuploader.Artifact>
          <artifactId>1</artifactId>
          <type>zip</type>
          <classifier></classifier>
          <file>artifact.zip</file>
        </sp.sd.nexusartifactuploader.Artifact>
      </artifacts>
      <credentialsId></credentialsId>
    </sp.sd.nexusartifactuploader.NexusArtifactUploader>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>